<% if current_user.admin? %> 
<p id="notice"><%= notice %></p>

<h1 class="center">بيانات مشروع تهامة الشامل</h1>

<table class="table table-bordered table-striped table-hover f7", style="display: block;overflow-x: auto;">
  <thead class="">
    <tr class="bg-info">
      <th style="text-align:center">Submitted at </th>
      <th style="text-align:center">User</th>
      <th style="text-align:center">Date</th>
      <th style="text-align:center">الإنتاج</th>
      <th style="text-align:center">آبار الأحسبة</th>
      <th style="text-align:center">آبار دوقة</th>
      <th style="text-align:center">آبار دوقة آل عبدالحميد</th>
      <th style="text-align:center">آبار عليب</th>
      <th style="text-align:center">آبار الرميضة</th>
      <th style="text-align:center">إجمالي الإنتاج</th>
      <th style="text-align:center">التوزيع</th>
      <th style="text-align:center">الشبكات</th>
      <th style="text-align:center">المخواة</th>
      <th style="text-align:center">قلوة</th>
      <th style="text-align:center">دوقة آل عبدالحميد</th>
      <th style="text-align:center">الحجرة</th>
      <th style="text-align:center">إجمالي توزيع الشبكات</th>
      <th style="text-align:center">المناهل</th>
      <th style="text-align:center">غامد الزناد</th>
      <th style="text-align:center">نصبة</th>
      <th style="text-align:center">المسودة</th>
      <th style="text-align:center">ناوان</th>
      <th style="text-align:center">شمال المخواة</th>
      <th style="text-align:center">نيرا</th>
      <th style="text-align:center">ممنا</th>
      <th style="text-align:center">بني عطا</th>
      <th style="text-align:center">الجرين</th>
      <th style="text-align:center">الرميضة</th>
      <th style="text-align:center">إجمالي توزيع المناهل</th>
      <th style="text-align:center">إجمالي التوزيع</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tohamhalshamels.each do |tohamhalshamel| %>
      <tr>
        <td style="text-align:center"><%= tohamhalshamel.created_at %></td>
        <td style="text-align:center"><%= tohamhalshamel.user_id %></td>
        <td  style="text-align:center"style="white-space: nowrap;"><%= tohamhalshamel.date %></td>
        <td class="bg-light", style="text-align:center"><%= tohamhalshamel.product %></td>
        <td style="text-align:center"><%= tohamhalshamel.alahsabiawell_almekhwah %></td>
        <td style="text-align:center"><%= tohamhalshamel.doqahwell_qlwah %></td>
        <td style="text-align:center"><%= tohamhalshamel.doqatabdulhamedwell %></td>
        <td style="text-align:center"><%= tohamhalshamel.elepwell_alhjrah %></td>
        <td style="text-align:center"><%= tohamhalshamel.alrmedahwell %></td>
        <td style="text-align:center"><%= tohamhalshamel.product_total %></td>
        <td class="bg-light", style="text-align:center"><%= tohamhalshamel.distribution %></td>
        <td class="bg-light", style="text-align:center"><%= tohamhalshamel.networks %></td>
        <td style="text-align:center"><%= tohamhalshamel.almekhwah %></td>
        <td style="text-align:center"><%= tohamhalshamel.qlwah %></td>
        <td style="text-align:center"><%= tohamhalshamel.doqatabdulhamed %></td>
        <td style="text-align:center"><%= tohamhalshamel.alhjrah %></td>
        <td style="text-align:center"><%= tohamhalshamel.networks_total %></td>
        <td class="bg-light", style="text-align:center"><%= tohamhalshamel.almnahel %></td>
        <td style="text-align:center"><%= tohamhalshamel.ghamidalznad %></td>
        <td style="text-align:center"><%= tohamhalshamel.nsbah %></td>
        <td style="text-align:center"><%= tohamhalshamel.almswdah %></td>
        <td style="text-align:center"><%= tohamhalshamel.nawan %></td>
        <td style="text-align:center"><%= tohamhalshamel.shmalalmekhwah %></td>
        <td style="text-align:center"><%= tohamhalshamel.nera %></td>
        <td style="text-align:center"><%= tohamhalshamel.mmna %></td>
        <td style="text-align:center"><%= tohamhalshamel.bneatta %></td>
        <td style="text-align:center"><%= tohamhalshamel.algreen %></td>
        <td style="text-align:center"><%= tohamhalshamel.alrmedah %></td>
        <td style="text-align:center"><%= tohamhalshamel.almnahl_total %></td>
        <td style="text-align:center"><%= tohamhalshamel.distribution_total %></td>
        <td><%= link_to 'Show', tohamhalshamel %></td>
        <td><%= link_to 'Edit', edit_tohamhalshamel_path(tohamhalshamel) %></td>
        <td><%= link_to 'Delete', tohamhalshamel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'إدخال بيانات جديدة', new_tohamhalshamel_path %>
<%else%>
<h1><%= "Please contact the admin"%>
<%end%>