<% if current_user.admin? %> 
<p id="notice"><%= notice %></p>

<h1>Tohamhalshamels</h1>

<table class="table is-striped is-bordered", style="display: block;overflow-x: auto;">
  <thead>
    <tr>
      <th>Submitted at </th>
      <th>User</th>
      <th>Date</th>
      <th class="bg-light">الإنتاج</th>
      <th>آبار الأحسبة</th>
      <th>آبار دوقة</th>
      <th>آبار دوقة آل عبدالحميد</th>
      <th>آبار عليب</th>
      <th>آبار الرميضة</th>
      <th class="bg-light">إجمالي الإنتاج</th>
      <th class="bg-light">التوزيع</th>
      <th class="bg-light">الشبكات</th>
      <th>المخواة</th>
      <th>قلوة</th>
      <th>دوقة آل عبدالحميد</th>
      <th>الحجرة</th>
      <th class="bg-light">إجمالي توزيع الشبكات</th>
      <th class="bg-light">المناهل</th>
      <th>غامد الزناد</th>
      <th>نصبة</th>
      <th>المسودة</th>
      <th>ناوان</th>
      <th>شمال المخواة</th>
      <th>نيرا</th>
      <th>ممنا</th>
      <th>بني عطا</th>
      <th>الجرين</th>
      <th>الرميضة</th>
      <th class="bg-light">إجمالي توزيع المناهل</th>
      <th class="bg-light">إجمالي التوزيع</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tohamhalshamels.each do |tohamhalshamel| %>
      <tr>
        <td><%= tohamhalshamel.created_at %></td>
        <td><%= tohamhalshamel.user_id %></td>
        <td style="white-space: nowrap;"><%= tohamhalshamel.date %></td>
        <td class="bg-light"><%= tohamhalshamel.product %></td>
        <td><%= tohamhalshamel.alahsabiawell_almekhwah %></td>
        <td><%= tohamhalshamel.doqahwell_qlwah %></td>
        <td><%= tohamhalshamel.doqatabdulhamedwell %></td>
        <td><%= tohamhalshamel.elepwell_alhjrah %></td>
        <td><%= tohamhalshamel.alrmedahwell %></td>
        <td><%= tohamhalshamel.product_total %></td>
        <td class="bg-light"><%= tohamhalshamel.distribution %></td>
        <td class="bg-light"><%= tohamhalshamel.networks %></td>
        <td><%= tohamhalshamel.almekhwah %></td>
        <td><%= tohamhalshamel.qlwah %></td>
        <td><%= tohamhalshamel.doqatabdulhamed %></td>
        <td><%= tohamhalshamel.alhjrah %></td>
        <td><%= tohamhalshamel.networks_total %></td>
        <td class="bg-light"><%= tohamhalshamel.almnahel %></td>
        <td><%= tohamhalshamel.ghamidalznad %></td>
        <td><%= tohamhalshamel.nsbah %></td>
        <td><%= tohamhalshamel.almswdah %></td>
        <td><%= tohamhalshamel.nawan %></td>
        <td><%= tohamhalshamel.shmalalmekhwah %></td>
        <td><%= tohamhalshamel.nera %></td>
        <td><%= tohamhalshamel.mmna %></td>
        <td><%= tohamhalshamel.bneatta %></td>
        <td><%= tohamhalshamel.algreen %></td>
        <td><%= tohamhalshamel.alrmedah %></td>
        <td><%= tohamhalshamel.almnahl_total %></td>
        <td><%= tohamhalshamel.distribution_total %></td>
        <td><%= link_to 'Show', tohamhalshamel %></td>
        <td><%= link_to 'Edit', edit_tohamhalshamel_path(tohamhalshamel) %></td>
        <td><%= link_to 'Delete', tohamhalshamel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'إدخال بيانات جديدة', new_tohamhalshamel_path %>
<%else%>
<h1><%= "Please contact the admin"%>
<%end%>