<% if current_user.admin? %> 
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @tohamhalshamel.user_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tohamhalshamel.date %>
</p>

<p>
  <strong>Product:</strong>
  <%= @tohamhalshamel.product %>
</p>

<p>
  <strong>Alahsabiawell almekhwah:</strong>
  <%= @tohamhalshamel.alahsabiawell_almekhwah %>
</p>

<p>
  <strong>Doqahwell qlwah:</strong>
  <%= @tohamhalshamel.doqahwell_qlwah %>
</p>

<p>
  <strong>Doqatabdulhamedwell:</strong>
  <%= @tohamhalshamel.doqatabdulhamedwell %>
</p>

<p>
  <strong>Elepwell alhjrah:</strong>
  <%= @tohamhalshamel.elepwell_alhjrah %>
</p>

<p>
  <strong>Alrmedahwell:</strong>
  <%= @tohamhalshamel.alrmedahwell %>
</p>

<p>
  <strong>Product total:</strong>
  <%= @tohamhalshamel.product_total %>
</p>

<p>
  <strong>Distribution:</strong>
  <%= @tohamhalshamel.distribution %>
</p>

<p>
  <strong>Networks:</strong>
  <%= @tohamhalshamel.networks %>
</p>

<p>
  <strong>Almekhwah:</strong>
  <%= @tohamhalshamel.almekhwah %>
</p>

<p>
  <strong>Qlwah:</strong>
  <%= @tohamhalshamel.qlwah %>
</p>

<p>
  <strong>Doqatabdulhamed:</strong>
  <%= @tohamhalshamel.doqatabdulhamed %>
</p>

<p>
  <strong>Alhjrah:</strong>
  <%= @tohamhalshamel.alhjrah %>
</p>

<p>
  <strong>Networks total:</strong>
  <%= @tohamhalshamel.networks_total %>
</p>

<p>
  <strong>Almnahel:</strong>
  <%= @tohamhalshamel.almnahel %>
</p>

<p>
  <strong>Ghamidalznad:</strong>
  <%= @tohamhalshamel.ghamidalznad %>
</p>

<p>
  <strong>Nsbah:</strong>
  <%= @tohamhalshamel.nsbah %>
</p>

<p>
  <strong>Almswdah:</strong>
  <%= @tohamhalshamel.almswdah %>
</p>

<p>
  <strong>Nawan:</strong>
  <%= @tohamhalshamel.nawan %>
</p>

<p>
  <strong>Shmalalmekhwah:</strong>
  <%= @tohamhalshamel.shmalalmekhwah %>
</p>

<p>
  <strong>Nera:</strong>
  <%= @tohamhalshamel.nera %>
</p>

<p>
  <strong>Mmna:</strong>
  <%= @tohamhalshamel.mmna %>
</p>

<p>
  <strong>Bneatta:</strong>
  <%= @tohamhalshamel.bneatta %>
</p>

<p>
  <strong>Algreen:</strong>
  <%= @tohamhalshamel.algreen %>
</p>

<p>
  <strong>Alrmedah:</strong>
  <%= @tohamhalshamel.alrmedah %>
</p>

<p>
  <strong>Almnahl total:</strong>
  <%= @tohamhalshamel.almnahl_total %>
</p>

<p>
  <strong>Distribution total:</strong>
  <%= @tohamhalshamel.distribution_total %>
</p>

<%= link_to 'Edit', edit_tohamhalshamel_path(@tohamhalshamel) %> |
<%= link_to 'Back', tohamhalshamels_path %>
<%else%>
<h1><%= "Contant to admin"%>
<%end%>