<% if current_user.admin? %>
<p id="notice"><%= notice %></p>

<h1>Yabs</h1>

<table class="table is-striped is-bordered", style="display: block;overflow-x: auto;">
  <thead>
    <tr>
      <th class="bg-light">Submitted at </th>
      <th>Date</th>
      <th>User</th>
      <th>Yabs produce</th>
      <th>Yabs distribution</th>
      <th>Batat distribution</th>
      <th>Yabs tank</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yabs.each do |yab| %>
      <tr>
        <td class="bg-light"><%= yab.created_at %></td>
        <td><%= yab.date %></td>
        <td><%= yab.user_id %></td>
        <td><%= yab.yabs_produce %></td>
        <td><%= yab.yabs_distribution %></td>
        <td><%= yab.batat_distribution %></td>
        <td><%= yab.yabs_tank %></td>
        <td><%= link_to 'Show', yab %></td>
        <td><%= link_to 'Edit', edit_yab_path(yab) %></td>
        <td><%= link_to 'Delete', yab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'إدخال بيانات جديدة', new_yab_path %>
<%else%>
<h1><%= "Please contact the admin"%>
<%end%>