<% if current_user.admin? || (current_user.project.include? 9) %>
  <%= form_with(model: aljnabeen_tank, local: true, html: { 'x-data': '{ a: 0, b: 0, c: 0, d: 0 }' }) do |form| %>
    <% if aljnabeen_tank.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(aljnabeen_tank.errors.count, "error") %> prohibited this aljnabeen_tank from being saved:</h2>

        <ul>
          <% aljnabeen_tank.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <section class="hero is-dark is-small">
   <div class="hero-body">
    <div class="container">
    <div class="title is-5 text-align-center">مناسيب خزانات مشروع الجنابين</div>
    </div>
   </div>
  </section>

  <table class="table is-striped is-bordered", style="width:50%;margin-left:auto;margin-right:auto;">
    <thead>
    <tr>
      <th style="text-align:center">الكمية</th>
      <th style="text-align:center">البند</th>
      <th>#</th>
    </tr>
    </thead>
    <tbody>

    <tr>
          <td><%= form.text_field :almontag_tank, class: 'input  is-small bg-none', 'x-on:input': 'a = parseFloat($event.target.value)' %></td>
          <td style="text-align:center">منسوب خزان المنتج</td>
          <td>1</td>
    </tr>

    <tr>
          <td><%= form.text_field :aljbeel_Tank, class: 'input  is-small bg-none', 'x-on:input': 'b = parseFloat($event.target.value)' %></td>
          <td style="text-align:center">خزان الجنابين(الجبيل)</td>
          <td>2</td>
    </tr>

    <tr>
          <td><%= form.text_field :abdan_tank, class: 'input  is-small bg-none', 'x-on:input': 'c = parseFloat($event.target.value)' %></td>
          <td style="text-align:center">خزان عبدان</td>
          <td>3</td>
    </tr>

    <tr>
          <td><%= form.text_field :alfryh_tank, class: 'input  is-small bg-none', 'x-on:input': 'd = parseFloat($event.target.value)' %></td>
          <td style="text-align:center">خزان الفرية</td>
          <td>4</td>
    </tr>

    <tr>
          <td><%= form.text_field :algema_tank, class: 'input  is-small bg-none', 'x-on:input': 'e = parseFloat($event.target.value)' %></td>
          <td style="text-align:center">خزان القمع</td>
          <td>5</td>
    </tr>

    <tr>
          <td><%= form.text_field :shra_tank, class: 'input  is-small bg-none', 'x-on:input': 'f = parseFloat($event.target.value)' %></td>
          <td style="text-align:center">خزان شرى</td>
          <td>6</td>
    </tr>

    <tr>
          <td><%= form.text_field :alrahwa_tank, class: 'input  is-small bg-none', 'x-on:input': 'g = parseFloat($event.target.value)' %></td>
          <td style="text-align:center">خزان الرهوة</td>
          <td>7</td>
    </tr>

    <tr>
          <td><%= form.date_field :date, class: 'input  is-small bg-none is-center' %></td>
          <td style="text-align:center">التاريخ</td>
          <td>#</td>
    </tr>

    </tbody>
    </table>
    <div class="is-grouped">
              <div class="control has-text-centered">
                <%= form.button :submit, class: 'button is-info' %>
                <%= link_to 'Cancel', new_aljnabeen_tank_path, class:'button is-light' %>
              </div>
    </div>
    <% end %>
  <%else%>
  <h1><%= "Please contact the admin"%>
  <%end%>