<p id="notice"><%= notice %></p>


<% if current_user.admin? %>
  <% content_for :header do %>
  <section class="hero is-warning is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Projects
        </h1>
      </div>
    </div>
  </section>
  <% end %>

  <table class="table is-striped">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Cntractor</th>
        <th>Project number</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= link_to 'الجنابين', aljnabens_path %></td>
          <td>شركة الرويتع</td>
          <td>1</td>
        </tr>
        <tr>
          <td><%= link_to 'تهامة الشامل', tohamhalshamels_path %></td>
          <td>شركة البكري</td>
          <td>2</td>
        </tr>
        <tr>
          <td><%= link_to 'الأشياب والسقيا', alashiab_alsoqia_path %></td>
          <td>شركة إيلاف</td>
          <td>3</td>
        </tr>
        <tr>
          <td><%= link_to 'عردة', aradahs_path %></td>
          <td>شركة سايسب</td>
          <td>4</td>
        </tr>
        <tr>
          <td><%= link_to 'المشاريع المصغرة', smallprojects_path %></td>
          <td>مؤسسة الوجناء</td>
          <td>5</td>
        </tr>
        <tr>
          <td><%= link_to 'العقيق وثراد', aqiqs_path %></td>
          <td>شركة الرويتع</td>
          <td>6</td>
        </tr>
    </tbody>
  </table>
<% elsif [1, 2, 3, 4, 5, 6].include? current_user.project%>

  <% target_project = Project.projects_map[current_user.project] %>

  <table class="table is-striped">
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Prject</th>
        <th>Project number</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= link_to target_project[:company_name], send(target_project[:path]) %></td>
          <td><%= target_project[:name] %></td>
          <td><%= target_project[:number] %></td>
        </tr>
        
        
    </tbody>
  </table>
<% else %>
  <h1> Please contact with Admin to assign a project </h1>
<% end %>