<%= form_with(model: aljnaben, local: true) do |form| %>
  <% if aljnaben.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aljnaben.errors.count, "error") %> prohibited this aljnaben from being saved:</h2>

      <ul>
        <% aljnaben.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :product %>
    <%= form.text_field :product %>
  </div>

  <div class="field">
    <%= form.label :purification_station %>
    <%= form.text_field :purification_station %>
  </div>

  <div class="field">
    <%= form.label :alrahwah_Well %>
    <%= form.text_field :alrahwah_Well %>
  </div>

  <div class="field">
    <%= form.label :quantity_sent_from_desalination %>
    <%= form.text_field :quantity_sent_from_desalination %>
  </div>

  <div class="field">
    <%= form.label :product_total %>
    <%= form.text_field :product_total %>
  </div>

  <div class="field">
    <%= form.label :distribution %>
    <%= form.text_field :distribution %>
  </div>

  <div class="field">
    <%= form.label :networks %>
    <%= form.text_field :networks %>
  </div>

  <div class="field">
    <%= form.label :abdaan %>
    <%= form.text_field :abdaan %>
  </div>

  <div class="field">
    <%= form.label :alfrya %>
    <%= form.text_field :alfrya %>
  </div>

  <div class="field">
    <%= form.label :alqame %>
    <%= form.text_field :alqame %>
  </div>

  <div class="field">
    <%= form.label :shra %>
    <%= form.text_field :shra %>
  </div>

  <div class="field">
    <%= form.label :alrahwah %>
    <%= form.text_field :alrahwah %>
  </div>

  <div class="field">
    <%= form.label :networks_total %>
    <%= form.text_field :networks_total %>
  </div>

  <div class="field">
    <%= form.label :almnahel %>
    <%= form.text_field :almnahel %>
  </div>

  <div class="field">
    <%= form.label :aljbail_aljnaben %>
    <%= form.text_field :aljbail_aljnaben %>
  </div>

  <div class="field">
    <%= form.label :distribution_total %>
    <%= form.text_field :distribution_total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
