<% if current_user.admin? %>  
<p id="notice"><%= notice %></p>

<h1 class="center">بيانات مشروع الجنابين</h1>

<table class="table table-bordered table-striped table-hover", style="display: block;overflow-x: auto;">
  <thead class="">
    <tr class="bg-info">
      <th style="text-align:center">Submitted At</th>
      <th style="text-align:center">User</th>
      <th style="text-align:center">Date</th>
      <th style="text-align:center">الإنتاج</th>
      <th style="text-align:center">إنتاج محطة التنقية</th>
      <th style="text-align:center">بئر الرهوه</th>
      <th style="text-align:center">كمية المياه المرسلة من التحلية</th>
      <th style="text-align:center">إجمالي الإنتاج</th>
      <th style="text-align:center">التوزيع</th>
      <th style="text-align:center">الشبكات</th>
      <th style="text-align:center">عبدان</th>
      <th style="text-align:center">الفريا</th>
      <th style="text-align:center">القمع</th>
      <th style="text-align:center">شرى</th>
      <th style="text-align:center">الرهوه</th>
      <th style="text-align:center">إجمالي الشبكات</th>
      <th style="text-align:center">المناهل</th>
      <th style="text-align:center">شيب الجبيل</th>
      <th style="text-align:center">إجمالي التوزيع</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aljnabens.each do |aljnaben| %>
      <tr>
        <td class="bg-light", style="text-align:center"><%= aljnaben.created_at %></td>
        <td class="bg-light", style="text-align:center"><%= aljnaben.user_id %></td>
        <td class="bg-light", style="text-align:center"><%= aljnaben.date %></td>
        <td class="bg-light", style="text-align:center"></td>
        <td style="text-align:center"><%= aljnaben.purification_station %></td>
        <td style="text-align:center"><%= aljnaben.alrahwah_Well %></td>
        <td style="text-align:center"><%= aljnaben.quantity_sent_from_desalination %></td>
        <td style="text-align:center"><%= aljnaben.product_total %></td>
        <td class="bg-light", style="text-align:center"></td>
        <td class="bg-light", style="text-align:center"></td>
        <td style="text-align:center"><%= aljnaben.abdaan %></td>
        <td style="text-align:center"><%= aljnaben.alfrya %></td>
        <td style="text-align:center"><%= aljnaben.alqame %></td>
        <td style="text-align:center"><%= aljnaben.shra %></td>
        <td style="text-align:center"><%= aljnaben.alrahwah %></td>
        <td style="text-align:center"><%= aljnaben.networks_total %></td>
        <td class="bg-light" style="text-align:center"></td>
        <td style="text-align:center"><%= aljnaben.aljbail_aljnaben %></td>
        <td style="text-align:center"><%= aljnaben.distribution_total %></td>
        <td><%= link_to 'Show', aljnaben %></td>
        <td><%= link_to 'Edit', edit_aljnaben_path(aljnaben) %></td>
        <td><%= link_to 'Delete', aljnaben, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'إدخال بيانات جديدة', new_aljnaben_path %>
<%else%>
<h1><%= "Please contact the admin"%>
<%end%>