<% if current_user.admin? %>  
<p id="notice"><%= notice %></p>

<h1>Aljnabens</h1>

<table class="table is-striped is-bordered", style="display: block;overflow-x: auto;">
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th class="bg-light">الإنتاج</th>
      <th>إنتاج محطة التنقية</th>
      <th>بئر الرهوه</th>
      <th>كمية المياه المرسلة من التحلية</th>
      <th>إجمالي الإنتاج</th>
      <th class="bg-light">التوزيع</th>
      <th class="bg-light">الشبكات</th>
      <th>عبدان</th>
      <th>الفريا</th>
      <th>القمع</th>
      <th>شرى</th>
      <th>الرهوه</th>
      <th>إجمالي الشبكات</th>
      <th class="bg-light">المناهل</th>
      <th>شيب الجبيل</th>
      <th>إجمالي التوزيع</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aljnabens.each do |aljnaben| %>
      <tr>
        <td><%= aljnaben.user_id %></td>
        <td style="white-space: nowrap;"><%= aljnaben.date %></td>
        <td class="bg-light"><%= aljnaben.product %></td>
        <td><%= aljnaben.purification_station %></td>
        <td><%= aljnaben.alrahwah_Well %></td>
        <td><%= aljnaben.quantity_sent_from_desalination %></td>
        <td><%= aljnaben.product_total %></td>
        <td class="bg-light"><%= aljnaben.distribution %></td>
        <td class="bg-light"><%= aljnaben.networks %></td>
        <td><%= aljnaben.abdaan %></td>
        <td><%= aljnaben.alfrya %></td>
        <td><%= aljnaben.alqame %></td>
        <td><%= aljnaben.shra %></td>
        <td><%= aljnaben.alrahwah %></td>
        <td><%= aljnaben.networks_total %></td>
        <td class="bg-light"><%= aljnaben.almnahel %></td>
        <td><%= aljnaben.aljbail_aljnaben %></td>
        <td><%= aljnaben.distribution_total %></td>
        <td><%= link_to 'Show', aljnaben %></td>
        <td><%= link_to 'Edit', edit_aljnaben_path(aljnaben) %></td>
        <td><%= link_to 'Delete', aljnaben, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'إدخال بيانات جديدة', new_aljnaben_path %>
<%else%>
<h1><%= "Please contact the admin"%>
<%end%>