<% if current_user.admin? || (current_user.project.include? 1)%>  

<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th style="text-align:center" scope="col">#</th>
      <th style="text-align:center" scope="col">إنتاج محطة التنقية</th>
      <th style="text-align:center" scope="col">بئر الرهوه</th>
      <th style="text-align:center" scope="col">كمية المياه المرسلة من التحلية</th>
      <th style="text-align:center" scope="col">عبدان</th>
      <th style="text-align:center" scope="col">الفريا</th>
      <th style="text-align:center" scope="col">القمع</th>
      <th style="text-align:center" scope="col">شرى</th>
      <th style="text-align:center" scope="col">الرهوه</th>
      <th style="text-align:center" scope="col">شيب الجبيل</th>
    </tr>
  </thead>

  <tbody>
  <tr>
    <th scope="row">1</th>
    <td style="text-align:center"><%=@aljnaben.purification_station%></td>
    <td style="text-align:center"><%=@aljnaben.alrahwah_Well%></td>
    <td style="text-align:center"><%=@aljnaben.quantity_sent_from_desalination%></td>
    <td style="text-align:center"><%=@aljnaben.abdaan%></td>
    <td style="text-align:center"><%=@aljnaben.alfrya%></td>
    <td style="text-align:center"><%=@aljnaben.alqame%></td>
    <td style="text-align:center"><%=@aljnaben.shra%></td>
    <td style="text-align:center"><%=@aljnaben.alrahwah%></td>
    <td style="text-align:center"><%=@aljnaben.aljbail_aljnaben%></td>
  </tr>


<%= link_to 'Back', new_aljnaben_path %>
<%else%>
<h1><%= "Please contact the admin"%>
<%end%>