<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @aljnaben.user_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @aljnaben.date %>
</p>

<p>
  <strong>Product:</strong>
  <%= @aljnaben.product %>
</p>

<p>
  <strong>Purification station:</strong>
  <%= @aljnaben.purification_station %>
</p>

<p>
  <strong>Alrahwah well:</strong>
  <%= @aljnaben.alrahwah_Well %>
</p>

<p>
  <strong>Quantity sent from desalination:</strong>
  <%= @aljnaben.quantity_sent_from_desalination %>
</p>

<p>
  <strong>Product total:</strong>
  <%= @aljnaben.product_total %>
</p>

<p>
  <strong>Distribution:</strong>
  <%= @aljnaben.distribution %>
</p>

<p>
  <strong>Networks:</strong>
  <%= @aljnaben.networks %>
</p>

<p>
  <strong>Abdaan:</strong>
  <%= @aljnaben.abdaan %>
</p>

<p>
  <strong>Alfrya:</strong>
  <%= @aljnaben.alfrya %>
</p>

<p>
  <strong>Alqame:</strong>
  <%= @aljnaben.alqame %>
</p>

<p>
  <strong>Shra:</strong>
  <%= @aljnaben.shra %>
</p>

<p>
  <strong>Alrahwah:</strong>
  <%= @aljnaben.alrahwah %>
</p>

<p>
  <strong>Networks total:</strong>
  <%= @aljnaben.networks_total %>
</p>

<p>
  <strong>Almnahel:</strong>
  <%= @aljnaben.almnahel %>
</p>

<p>
  <strong>Aljbail aljnaben:</strong>
  <%= @aljnaben.aljbail_aljnaben %>
</p>

<p>
  <strong>Distribution total:</strong>
  <%= @aljnaben.distribution_total %>
</p>

<%= link_to 'Edit', edit_aljnaben_path(@aljnaben) %> |
<%= link_to 'Back', aljnabens_path %>
