<% if current_user.admin? %>
<p id="notice"><%= notice %></p>

<h1 class="has-text-centered">البيان اليومي الشامل</h1>

<%= link_to 'Download as Excel', dor_masters_path(format: :xlsx) %>

<form style="display: flex; align-items: center; padding: 8px;">
  <label form="date" style="padding-left: 4px; margin-bottom: 0">التاريخ:</label>
  <input name="date" value='<%= params[:date] %>' placeholder="2020-01-01" />
</form>

<table class="table table-bordered table-striped table-hover f7">
  <thead>
    <tr class="bg-info">
      <th class="has-text-centered">إجمالي الوارد من التحلية</th>
      <th class="has-text-centered">إجمالي إنتاج محطات التنقية</th>
      <th class="has-text-centered">إجمالي إنتاج الآبار</th>
      <th class="has-text-centered">إجمالي إنتاج المشاريع المصغرة</th>
      <th class="has-text-centered">إجمالي توزيع الأشياب</th>
      <th class="has-text-centered">إجمالي الإنتاج</th>
      <th class="has-text-centered">إجمالي التوزيع</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="has-text-centered"><%= Project.tahliah_projects_totals(date: params[:date]) %></td>
      <td class="has-text-centered"><%= Project.plant_projects_totals(date: params[:date]) %></td>
      <td class="has-text-centered"><%= Project.well_projects_totals(date: params[:date]) %></td>
      <td class="has-text-centered"><%= Project.small_well_projects_totals(date: params[:date]) %></td>
      <td class="has-text-centered"><%= Project.alashiab_projects_totals(date: params[:date]) %></td>
      <td class="has-text-centered"><%= Project.produce_from_all_projects_totals(date: params[:date]) %></td>
      <td class="has-text-centered"><%= Project.distribution_from_all_projects_totals(date: params[:date]) %></td>
    </tr>
  </tbody>
</table>

<br>
<%else%>
<h1><%= "Please contact the admin"%>
<%end%>
