<% if current_user.admin? %>  
<p id="notice"><%= notice %></p>

<p>
  <strong>Almzre soqia:</strong>
  <%= @alashiab_alsoqium.almzre_soqia %>
</p>

<p>
  <strong>Almzre naqlat:</strong>
  <%= @alashiab_alsoqium.almzre_naqlat %>
</p>

<p>
  <strong>Bljorashy soqia:</strong>
  <%= @alashiab_alsoqium.bljorashy_soqia %>
</p>

<p>
  <strong>Bljorashy naqlat:</strong>
  <%= @alashiab_alsoqium.bljorashy_naqlat %>
</p>

<p>
  <strong>Bnekbeer soqia:</strong>
  <%= @alashiab_alsoqium.bnekbeer_soqia %>
</p>

<p>
  <strong>Bnekbeer naqlat:</strong>
  <%= @alashiab_alsoqium.bnekbeer_naqlat %>
</p>

<p>
  <strong>Almosa soqia:</strong>
  <%= @alashiab_alsoqium.almosa_soqia %>
</p>

<p>
  <strong>Almosa naqlat:</strong>
  <%= @alashiab_alsoqium.almosa_naqlat %>
</p>

<p>
  <strong>Aljnaben soqia:</strong>
  <%= @alashiab_alsoqium.aljnaben_soqia %>
</p>

<p>
  <strong>Aljnaben naqlat:</strong>
  <%= @alashiab_alsoqium.aljnaben_naqlat %>
</p>

<p>
  <strong>Alaqeq soqia:</strong>
  <%= @alashiab_alsoqium.alaqeq_soqia %>
</p>

<p>
  <strong>Alaqeq naqlat:</strong>
  <%= @alashiab_alsoqium.alaqeq_naqlat %>
</p>

<p>
  <strong>Lef soqia:</strong>
  <%= @alashiab_alsoqium.lef_soqia %>
</p>

<p>
  <strong>Lef naqlat:</strong>
  <%= @alashiab_alsoqium.lef_naqlat %>
</p>

<p>
  <strong>Bnehasan soqia:</strong>
  <%= @alashiab_alsoqium.bnehasan_soqia %>
</p>

<p>
  <strong>Bnehasan naqlat:</strong>
  <%= @alashiab_alsoqium.bnehasan_naqlat %>
</p>

<p>
  <strong>Alhlah soqia:</strong>
  <%= @alashiab_alsoqium.alhlah_soqia %>
</p>

<p>
  <strong>Alhalah naqlat:</strong>
  <%= @alashiab_alsoqium.alhalah_naqlat %>
</p>

<p>
  <strong>Dos soqia:</strong>
  <%= @alashiab_alsoqium.dos_soqia %>
</p>

<p>
  <strong>Dos naqlat:</strong>
  <%= @alashiab_alsoqium.dos_naqlat %>
</p>

<p>
  <strong>Blkhzmr soqia:</strong>
  <%= @alashiab_alsoqium.blkhzmr_soqia %>
</p>

<p>
  <strong>Blkhzmr naqlat:</strong>
  <%= @alashiab_alsoqium.blkhzmr_naqlat %>
</p>

<p>
  <strong>Bneadwan soqia:</strong>
  <%= @alashiab_alsoqium.bneadwan_soqia %>
</p>

<p>
  <strong>Bneadwan naqlat:</strong>
  <%= @alashiab_alsoqium.bneadwan_naqlat %>
</p>

<p>
  <strong>Althrawen soqia:</strong>
  <%= @alashiab_alsoqium.althrawen_soqia %>
</p>

<p>
  <strong>Althrawen naqlat:</strong>
  <%= @alashiab_alsoqium.althrawen_naqlat %>
</p>

<p>
  <strong>Alqsmh soqia:</strong>
  <%= @alashiab_alsoqium.alqsmh_soqia %>
</p>

<p>
  <strong>Alqsmh naqlat:</strong>
  <%= @alashiab_alsoqium.alqsmh_naqlat %>
</p>

<p>
  <strong>Nbhan soqia:</strong>
  <%= @alashiab_alsoqium.nbhan_soqia %>
</p>

<p>
  <strong>Nbhan naqlat:</strong>
  <%= @alashiab_alsoqium.nbhan_naqlat %>
</p>

<p>
  <strong>Nkhal soqia:</strong>
  <%= @alashiab_alsoqium.nkhal_soqia %>
</p>

<p>
  <strong>Nkhal naqlat:</strong>
  <%= @alashiab_alsoqium.nkhal_naqlat %>
</p>

<p>
  <strong>Kra soqia:</strong>
  <%= @alashiab_alsoqium.kra_soqia %>
</p>

<p>
  <strong>Kra naqlat:</strong>
  <%= @alashiab_alsoqium.kra_naqlat %>
</p>

<p>
  <strong>Ghamidalznad soqia:</strong>
  <%= @alashiab_alsoqium.ghamidalznad_soqia %>
</p>

<p>
  <strong>Ghamidalznad naqlat:</strong>
  <%= @alashiab_alsoqium.ghamidalznad_naqlat %>
</p>

<p>
  <strong>Tota soqia:</strong>
  <%= @alashiab_alsoqium.tota_soqia %>
</p>

<p>
  <strong>Total naqlat:</strong>
  <%= @alashiab_alsoqium.total_naqlat %>
</p>

<%= link_to 'Edit', edit_alashiab_alsoqium_path(@alashiab_alsoqium) %> |
<%= link_to 'Back', alashiab_alsoqia_path %>
<%else%>
<h1><%= "Please contact the admin"%>
<%end%>