<p id="notice"><%= notice %></p>

<h1>Water Liter Delivereds</h1>

<table class="table is-striped" >
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Date</th>
      <th>User</th>
      <th>District</th>
      <th>District id</th>
      <th>Project</th>
      <th>Project id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @water_liter_delivereds.each do |water_liter_delivered| %>
      <tr>
        <td><%= water_liter_delivered.quantity %></td>
        <td><%= water_liter_delivered.date %></td>
        <td><%= water_liter_delivered.user_id %></td>
        <td><%= (District.find(water_liter_delivered.district_id)).name %></td>
        <td><%= water_liter_delivered.district_id %></td>
        <td><%= (Project.find(District.find(water_liter_delivered.district_id).project_id)).id %></td>
        <td><%= (Project.find(District.find(water_liter_delivered.district_id).project_id)).name %></td>
        <td><%= link_to 'Show', water_liter_delivered %></td>
        <td><%= link_to 'Edit', edit_water_liter_delivered_path(water_liter_delivered) %></td>
        <td><%= link_to 'Destroy', water_liter_delivered, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1> 
  <%= District.find(4).name%>
<br>


<%= link_to 'New Water Liter Delivered', new_water_liter_delivered_path %>
