<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @water_liter_delivered.quantity %>
</p>

<p>
  <strong>Date:</strong>
  <%= @water_liter_delivered.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @water_liter_delivered.user_id %>
</p>

<p>
  <strong>District:</strong>
  <%= @water_liter_delivered.district_id %>
</p>

<%= link_to 'Edit', edit_water_liter_delivered_path(@water_liter_delivered) %> |
<%= link_to 'Back', water_liter_delivereds_path %>
