<% if current_user.admin? %>
<p id="notice"><%= notice %></p>

<h1 class="center">بيانات مشروع العقيق وثراد</h1>


<table class="table table-bordered table-striped table-hover f7", style="display: block;overflow-x: auto;">
  <thead class="">
    <tr class="bg-info">
      <th style="text-align:center">Submitted at </th>
      <th style="text-align:center">Date</th>
      <th style="text-align:center">User</th>
      <th class="bg-dark" style="text-align:center">الإنتاج</th>
      <th style="text-align:center">إنتاج العقيق</th>
      <th style="text-align:center">إنتاج ثراد</th>
      <th style="text-align:center">الوارد من التحلية إلى المزرع</th>
      <th style="text-align:center">الوارد من التحلية إلى بلجرشي</th>
      <th style="text-align:center">الوارد من التحلية إلى شهبة</th>
      <th style="text-align:center">الوارد من التحلية إلى عردة</th>
      <th style="text-align:center">الوارد من التحلية إلى عبدان</th>
      <th style="text-align:center">إجمالي الإنتاج</th>
      <th class="bg-dark" style="text-align:center">التوزيع</th>
      <th style="text-align:center">الباحة (شهبه1)</th>
      <th style="text-align:center">الباحة (شهبه2)</th>
      <th style="text-align:center">المزرع</th>
      <th style="text-align:center">بني ظبيان</th>
      <th style="text-align:center">الموسى</th>
      <th style="text-align:center">إجمالي توزيع شبكات الباحة</th>
      <th style="text-align:center">بلجرشي</th>
      <th style="text-align:center">بني كبير</th>
      <th style="text-align:center">الحبيس</th>
      <th style="text-align:center">بني سعيد</th>
      <th style="text-align:center">بني حدة</th>
      <th style="text-align:center">الغبر الأولى</th>
      <th style="text-align:center">الغبر السفلى</th>
      <th style="text-align:center">إجمالي توزيع شبكات بلجرشي</th>
      <th style="text-align:center">بلو</th>
      <th style="text-align:center">جرب</th>
      <th style="text-align:center">العنق</th>
      <th style="text-align:center">المشيريف</th>
      <th style="text-align:center">خزان الأمير فيصل</th>
      <th style="text-align:center">إجمالي توزيع شبكات العقيق</th>
      <th class="bg-dark" style="text-align:center">المناهل</th>
      <th style="text-align:center">مناهل المزرع</th>
      <th style="text-align:center">مناهل بلجرشي</th>
      <th style="text-align:center">مناهل بني كبير</th>
      <th style="text-align:center">مناهل الحيان</th>
      <th style="text-align:center">مناهل الصناعية</th>
      <th style="text-align:center">إجمالي توزيع المناهل</th>
      <th style="text-align:center">إجمالي التوزيع</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aqiqs.each do |aqiq| %>
      <tr>
        <td class="bg-light", style="text-align:center"><%= aqiq.created_at %></td>
        <td style="text-align:center"><%= aqiq.date %></td>
        <td style="text-align:center"><%= aqiq.user_id %></td>
        <td class="bg-dark", style="text-align:center"><%= aqiq.product %></td>
        <td style="text-align:center"><%= aqiq.aqiq_produce %></td>
        <td style="text-align:center"><%= aqiq.thrad_produce %></td>
        <td style="text-align:center"><%= aqiq.from_althlya_to_almzree %></td>
        <td style="text-align:center"><%= aqiq.from_althlya_to_baljurashy %></td>
        <td style="text-align:center"><%= aqiq.from_althlya_to_shahba %></td>
        <td style="text-align:center"><%= aqiq.from_althlya_to_aradah %></td>
        <td style="text-align:center"><%= aqiq.from_althlya_to_abdan %></td>
        <td  style="text-align:center"><%= aqiq.total_produce %></td>
        <td class="bg-dark", style="text-align:center"><%= aqiq.distribution %></td>
        <td style="text-align:center"><%= aqiq.albaha_shahba1 %></td>
        <td style="text-align:center"><%= aqiq.albaha_shahba2 %></td>
        <td style="text-align:center"><%= aqiq.almzree %></td>
        <td style="text-align:center"><%= aqiq.bany_dhabyan %></td>
        <td style="text-align:center"><%= aqiq.almusa %></td>
        <td style="text-align:center"><%= aqiq.total_albaha_distribution %></td>
        <td style="text-align:center"><%= aqiq.baljurashy %></td>
        <td style="text-align:center"><%= aqiq.bany_kaber %></td>
        <td style="text-align:center"><%= aqiq.alhbees %></td>
        <td style="text-align:center"><%= aqiq.bany_saeed %></td>
        <td style="text-align:center"><%= aqiq.bany_heda %></td>
        <td style="text-align:center"><%= aqiq.algabar_alawla %></td>
        <td style="text-align:center"><%= aqiq.algabar_alsufla %></td>
        <td style="text-align:center"><%= aqiq.baljurashy_total_distribution %></td>
        <td style="text-align:center"><%= aqiq.blue %></td>
        <td style="text-align:center"><%= aqiq.jarab %></td>
        <td style="text-align:center"><%= aqiq.alaunog %></td>
        <td style="text-align:center"><%= aqiq.almshereef %></td>
        <td style="text-align:center"><%= aqiq.alamer_faisal_Tank %></td>
        <td style="text-align:center"><%= aqiq.aqiq_total_distribution %></td>
        <td class="bg-dark", style="text-align:center"><%= aqiq.almnahel %></td>
        <td style="text-align:center"><%= aqiq.almzree_mnahel %></td>
        <td style="text-align:center"><%= aqiq.baljurashy_mnahel %></td>
        <td style="text-align:center"><%= aqiq.bany_kabeer_mnahel %></td>
        <td style="text-align:center"><%= aqiq.allehyan_mnahel %></td>
        <td style="text-align:center"><%= aqiq.alsenaeeh_mnahel %></td>
        <td style="text-align:center"><%= aqiq.almnahel_total %></td>
        <td style="text-align:center"><%= aqiq.total_distribution %></td>
        <td><%= link_to 'Show', aqiq %></td>
        <td><%= link_to 'Edit', edit_aqiq_path(aqiq) %></td>
        <td><%= link_to 'Delete', aqiq, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'إدخال بيانات جديدة', new_aqiq_path %>
<%else%>
<h1><%= "Please contact the admin"%>
<%end%>


