<% if current_user.admin? %>
<p id="notice"><%= notice %></p>

<h1>خزانات مشروع عردة</h1>

<table class="table is-striped is-bordered", style="display: block;overflow-x: auto;">
  <thead>
    <tr>
      <th class="bg-light">Submitted At</th>
      <th>Date</th>
      <th>User</th>
      <th>Aradah plant tank</th>
      <th>Naqal plant1 tnak</th>
      <th>Mashoqah plant2 tank</th>
      <th>Ras manhal plant3 tank</th>
      <th>Alqesma plant4 tank</th>
      <th>Thraween plant5 tank</th>
      <th>Bani adwan tank</th>
      <th>Mashoqa tank</th>
      <th>Bedah tank</th>
      <th>Al musa tank</th>
      <th>Marawah tank</th>
      <th>Qaran dabi tank</th>
      <th>Alhalah tank</th>
      <th>Balqazmar tank</th>
      <th>Bani hasan tank</th>
      <th>Alqalab tank</th>
      <th>Daws tank</th>
      <th>Sayhan tank</th>
      <th>Alkahelah tank</th>
      <th>Balhakam tank</th>
      <th>Aljwfaa tank</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aradah_tanks.each do |aradah_tank| %>
      <tr>
        <td class="bg-light"><%= aradah_tank.created_at %></td>
        <td><%= aradah_tank.date %></td>
        <td><%= aradah_tank.user_id %></td>
        <td><%= aradah_tank.aradah_plant_tank %></td>
        <td><%= aradah_tank.naqal_plant1_tnak %></td>
        <td><%= aradah_tank.mashoqah_plant2_tank %></td>
        <td><%= aradah_tank.ras_manhal_plant3_tank %></td>
        <td><%= aradah_tank.alqesma_plant4_tank %></td>
        <td><%= aradah_tank.thraween_plant5_tank %></td>
        <td><%= aradah_tank.bani_adwan_tank %></td>
        <td><%= aradah_tank.mashoqa_tank %></td>
        <td><%= aradah_tank.bedah_tank %></td>
        <td><%= aradah_tank.al_musa_tank %></td>
        <td><%= aradah_tank.marawah_tank %></td>
        <td><%= aradah_tank.qaran_dabi_tank %></td>
        <td><%= aradah_tank.alhalah_tank %></td>
        <td><%= aradah_tank.balqazmar_tank %></td>
        <td><%= aradah_tank.bani_hasan_tank %></td>
        <td><%= aradah_tank.alqalab_tank %></td>
        <td><%= aradah_tank.daws_tank %></td>
        <td><%= aradah_tank.sayhan_tank %></td>
        <td><%= aradah_tank.alkahelah_tank %></td>
        <td><%= aradah_tank.balhakam_tank %></td>
        <td><%= aradah_tank.aljwfaa_tank %></td>
        <td><%= link_to 'Show', aradah_tank %></td>
        <td><%= link_to 'Edit', edit_aradah_tank_path(aradah_tank) %></td>
        <td><%= link_to 'Delete', aradah_tank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'إدخال بيانات جديدة', new_aradah_tank_path %>
<%else%>
<h1><%= "Please contact the admin"%>
<%end%>
