<% if current_user.admin? %> 
<p id="notice"><%= notice %></p>

<h1 class="center">بيانات مشروع عردة</h1>

<table class="table table-bordered table-striped table-hover f7", style="display: block;overflow-x: auto ;">
  <thead>
    <tr class="bg-info">
      <th style="text-align:center">Submitted at </th>
      <th style="text-align:center">User</th>
      <th style="text-align:center">Date</th>
      <th class="bg-dark" style="text-align:center">الإنتاج</th>
      <th style="text-align:center">إنتاج آبار عردة</th>
      <th style="text-align:center">الوارد من التحلية لخزان نخال</th>
      <th style="text-align:center">الوارد من التحلية لخزان الثراوين</th>
      <th style="text-align:center">إجمالي الإنتاج</th>
      <th class="bg-dark" style="text-align:center">التوزيع</th>
      <th class="bg-dark" style="text-align:center">الشبكات</th>
      <th style="text-align:center">القسمة</th>
      <th style="text-align:center">الثراوين</th>
      <th style="text-align:center">الثراوين الاطاولة</th>
      <th style="text-align:center">بني عدوان 1</th>
      <th style="text-align:center">بني عدوان 2</th>
      <th style="text-align:center">بيدة</th>
      <th style="text-align:center">معشوقة</th>
      <th style="text-align:center">مراوة</th>
      <th style="text-align:center">إجمالي توزيع القرى</th>
      <th style="text-align:center">بلخزمر</th>
      <th style="text-align:center">بني حسن</th>
      <th style="text-align:center">إجمالي توزيع بني حسن</th>
      <th style="text-align:center">الحلاة</th>
      <th style="text-align:center">الخلب</th>
      <th style="text-align:center">دوس</th>
      <th style="text-align:center">الكاحلة 1</th>
      <th style="text-align:center">الكاحلة 2</th>
      <th style="text-align:center">سيحان</th>
      <th style="text-align:center">بلحكم</th>
      <th style="text-align:center">الجوفاء</th>
      <th style="text-align:center">إجمالي توزيع المندق</th>
      <th style="text-align:center">الموسى</th>
      <th style="text-align:center">قرن ظبي</th>
      <th style="text-align:center">إجمالي توزيع الباحة</th>
      <th style="text-align:center">إجمالي توزيع الشبكات</th>
      <th class="bg-dark" style="text-align:center">المناهل</th>
      <th style="text-align:center">نخال</th>
      <th style="text-align:center">القسمة</th>
      <th style="text-align:center">الثراوين</th>
      <th style="text-align:center">بني عدوان</th>
      <th style="text-align:center">معشوقة</th>
      <th style="text-align:center">إجمالي مناهل القرى</th>
      <th style="text-align:center">بلخزمر</th>
      <th style="text-align:center">بني حسن</th>
      <th style="text-align:center">إجمالي مناهل بني حسن</th>
      <th style="text-align:center">الحلاة</th>
      <th style="text-align:center">دوس</th>
      <th style="text-align:center">إجمالي مناهل المندق</th>
      <th style="text-align:center">شيب الموسى</th>
      <th style="text-align:center">إجمالي توزيع المناهل</th>
      <th style="text-align:center">إجمالي التوزيع</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aradahs.each do |aradah| %>
      <tr>
        <td style="text-align:center"><%= aradah.created_at %></td>
        <td style="text-align:center"><%= aradah.user_id %></td>
        <td style="text-align:center"><%= aradah.date %></td>
        <td class="bg-dark" style="text-align:center"></td>
        <td style="text-align:center"><%= aradah.wells %></td>
        <td style="text-align:center"><%= aradah.from_altahliah_to_naqal %></td>
        <td style="text-align:center"><%= aradah.from_thrawen_tank %></td>
        <td style="text-align:center"><%= aradah.product_total %></td>
        <td class="bg-dark" style="text-align:center"></td>
        <td class="bg-dark" style="text-align:center"></td>
        <td style="text-align:center"><%= aradah.qnet_alqsmh %></td>
        <td style="text-align:center"><%= aradah.qnet_althrawen %></td>
        <td style="text-align:center"><%= aradah.qnet_althrawen_alatawlah %></td>
        <td style="text-align:center"><%= aradah.qnet_bneedwan1 %></td>
        <td style="text-align:center"><%= aradah.qnet_bneedwan2 %></td>
        <td style="text-align:center"><%= aradah.qnet_bedah %></td>
        <td style="text-align:center"><%= aradah.qnet_mashoqah %></td>
        <td style="text-align:center"><%= aradah.mrawah %></td>
        <td class="bg-light" style="text-align:center"><%= aradah.qnet_total %></td>
        <td style="text-align:center"><%= aradah.bnenet_blkhzmr %></td>
        <td style="text-align:center"><%= aradah.bnenet_bnehasan %></td>
        <td class="bg-light" style="text-align:center"><%= aradah.bnenet_total %></td>
        <td style="text-align:center"><%= aradah.mnet_alhalah %></td>
        <td style="text-align:center"><%= aradah.mnet_alkhlb %></td>
        <td style="text-align:center"><%= aradah.mnet_dos %></td>
        <td style="text-align:center"><%= aradah.mnet_alkahla1 %></td>
        <td style="text-align:center"><%= aradah.mnet_alkahla2 %></td>
        <td style="text-align:center"><%= aradah.mnet_sehan %></td>
        <td style="text-align:center"><%= aradah.mnet_blhkm %></td>
        <td style="text-align:center"><%= aradah.mnet_aljawfaa %></td>
        <td class="bg-light" style="text-align:center"><%= aradah.mnet_total %></td>
        <td style="text-align:center"><%= aradah.bnet_almosa %></td>
        <td style="text-align:center"><%= aradah.bnet_qrnthbe %></td>
        <td class="bg-light" style="text-align:center"><%= aradah.bnet_total %></td>
        <td class="bg-light" style="text-align:center"><%= aradah.network_total %></td>
        <td class="bg-dark" style="text-align:center"></td>
        <td style="text-align:center"><%= aradah.qshep_nkhal %></td>
        <td style="text-align:center"><%= aradah.qshep_alqsmh %></td>
        <td style="text-align:center"><%= aradah.qshep_althrawen %></td>
        <td style="text-align:center"><%= aradah.qshep_bneodwan %></td>
        <td style="text-align:center"><%= aradah.qshep_mashoqah %></td>
        <td class="bg-light" style="text-align:center"><%= aradah.qshep_total %></td>
        <td style="text-align:center"><%= aradah.bneshep_blkhzmr %></td>
        <td style="text-align:center"><%= aradah.bneshep_bnehasan %></td>
        <td class="bg-light" style="text-align:center"><%= aradah.bneshep_total %></td>
        <td style="text-align:center"><%= aradah.mshep_alhalah %></td>
        <td style="text-align:center"><%= aradah.mshep_dos %></td>
        <td class="bg-light" style="text-align:center"><%= aradah.mshep_total %></td>
        <td style="text-align:center"><%= aradah.bshep_almosa %></td>
        <td class="bg-light" style="text-align:center"><%= aradah.mnahel_total %></td>
        <td class="bg-light" style="text-align:center"><%= aradah.distripution_total %></td>
        <td><%= link_to 'Show', aradah %></td>
        <td><%= link_to 'Edit', edit_aradah_path(aradah) %></td>
        <td><%= link_to 'Delete', aradah, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'إدخال بيانات جديدة', new_aradah_path %>
<%else%>
<h1><%= "Please contact the admin"%>
<%end%>