<% if current_user.admin? %> 
<p id="notice"><%= notice %></p>

<h1>بيانات مشروع عردة</h1>

<table class="table is-striped is-bordered", style="display: block;overflow-x: auto;">
  <thead>
    <tr>
      <th>Submitted at </th>
      <th>User</th>
      <th>Date</th>
      <th class="bg-light">الإنتاج</th>
      <th>إنتاج آبار عردة</th>
      <th>الوارد من التحلية لخزان الثراوين</th>
      <th>إجمالي الإنتاج</th>
      <th class="bg-light">التوزيع</th>
      <th class="bg-light">الشبكات</th>
      <th>القسمة</th>
      <th>الثراوين</th>
      <th>الثراوين الاطاولة</th>
      <th>بني عدوان 1</th>
      <th>بني عدوان 2</th>
      <th>بيدة</th>
      <th>معشوقة</th>
      <th>مراوة</th>
      <th class="bg-light">إجمالي توزيع القرى</th>
      <th>بلخزمر</th>
      <th>بني حسن</th>
      <th class="bg-light">إجمالي توزيع بني حسن</th>
      <th>الحلاة</th>
      <th>الخلب</th>
      <th>دوس</th>
      <th>الكاحلة 1</th>
      <th>الكاحلة 2</th>
      <th>سيحان</th>
      <th>بلحكم</th>
      <th>الجوفاء</th>
      <th class="bg-light">إجمالي توزيع المندق</th>
      <th>الموسى</th>
      <th>قرن ظبي</th>
      <th class="bg-light">إجمالي توزيع الباحة</th>
      <th class="bg-light">إجمالي توزيع الشبكات</th>
      <th class="bg-light">المناهل</th>
      <th>نخال</th>
      <th>القسمة</th>
      <th>الثراوين</th>
      <th>بني عدوان</th>
      <th>معشوقة</th>
      <th class="bg-light">إجمالي مناهل القرى</th>
      <th>بلخزمر</th>
      <th>بني حسن</th>
      <th class="bg-light">إجمالي مناهل بني حسن</th>
      <th>الحلاة</th>
      <th>دوس</th>
      <th class="bg-light">إجمالي مناهل المندق</th>
      <th>Bshep almosa</th>
      <th class="bg-light">إجمالي توزيع المناهل</th>
      <th class="bg-light">إجمالي التوزيع</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aradahs.each do |aradah| %>
      <tr>
        <td><%= aradah.created_at %></td>
        <td><%= aradah.user_id %></td>
        <td style="white-space: nowrap;"><%= aradah.date %></td>
        <td class="bg-light"><%= aradah.product %></td>
        <td><%= aradah.wells %></td>
        <td><%= aradah.from_thrawen_tank %></td>
        <td><%= aradah.product_total %></td>
        <td class="bg-light"><%= aradah.distribution %></td>
        <td class="bg-light"><%= aradah.networks %></td>
        <td><%= aradah.qnet_alqsmh %></td>
        <td><%= aradah.qnet_althrawen %></td>
        <td><%= aradah.qnet_althrawen_alatawlah %></td>
        <td><%= aradah.qnet_bneedwan1 %></td>
        <td><%= aradah.qnet_bneedwan2 %></td>
        <td><%= aradah.qnet_bedah %></td>
        <td><%= aradah.qnet_mashoqah %></td>
        <td><%= aradah.mrawah %></td>
        <td class="bg-light"><%= aradah.qnet_total %></td>
        <td><%= aradah.bnenet_blkhzmr %></td>
        <td><%= aradah.bnenet_bnehasan %></td>
        <td class="bg-light"><%= aradah.bnenet_total %></td>
        <td><%= aradah.mnet_alhalah %></td>
        <td><%= aradah.mnet_alkhlb %></td>
        <td><%= aradah.mnet_dos %></td>
        <td><%= aradah.mnet_alkahla1 %></td>
        <td><%= aradah.mnet_alkahla2 %></td>
        <td><%= aradah.mnet_sehan %></td>
        <td><%= aradah.mnet_blhkm %></td>
        <td><%= aradah.mnet_aljawfaa %></td>
        <td class="bg-light"><%= aradah.mnet_total %></td>
        <td><%= aradah.bnet_almosa %></td>
        <td><%= aradah.bnet_qrnthbe %></td>
        <td class="bg-light"><%= aradah.bnet_total %></td>
        <td class="bg-light"><%= aradah.network_total %></td>
        <td class="bg-light"><%= aradah.almnahel %></td>
        <td><%= aradah.qshep_nkhal %></td>
        <td><%= aradah.qshep_alqsmh %></td>
        <td><%= aradah.qshep_althrawen %></td>
        <td><%= aradah.qshep_bneodwan %></td>
        <td><%= aradah.qshep_mashoqah %></td>
        <td class="bg-light"><%= aradah.qshep_total %></td>
        <td><%= aradah.bneshep_blkhzmr %></td>
        <td><%= aradah.bneshep_bnehasan %></td>
        <td class="bg-light"><%= aradah.bneshep_total %></td>
        <td><%= aradah.mshep_alhalah %></td>
        <td><%= aradah.mshep_dos %></td>
        <td class="bg-light"><%= aradah.mshep_total %></td>
        <td><%= aradah.bshep_almosa %></td>
        <td class="bg-light"><%= aradah.mnahel_total %></td>
        <td class="bg-light"><%= aradah.distripution_total %></td>
        <td><%= link_to 'Show', aradah %></td>
        <td><%= link_to 'Edit', edit_aradah_path(aradah) %></td>
        <td><%= link_to 'Delete', aradah, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'إدخال بيانات جديدة', new_aradah_path %>
<%else%>
<h1><%= "Please contact the admin"%>
<%end%>