<% if current_user.admin? %> 
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @aradah.user_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @aradah.date %>
</p>

<p>
  <strong>Product:</strong>
  <%= @aradah.product %>
</p>

<p>
  <strong>Wells:</strong>
  <%= @aradah.wells %>
</p>

<p>
  <strong>From thrawen tank:</strong>
  <%= @aradah.from_thrawen_tank %>
</p>

<p>
  <strong>Product total:</strong>
  <%= @aradah.product_total %>
</p>

<p>
  <strong>Distribution:</strong>
  <%= @aradah.distribution %>
</p>

<p>
  <strong>Networks:</strong>
  <%= @aradah.networks %>
</p>

<p>
  <strong>Qnet alqsmh:</strong>
  <%= @aradah.qnet_alqsmh %>
</p>

<p>
  <strong>Qnet althrawen:</strong>
  <%= @aradah.qnet_althrawen %>
</p>

<p>
  <strong>Qnet althrawen alatawlah:</strong>
  <%= @aradah.qnet_althrawen_alatawlah %>
</p>

<p>
  <strong>Qnet bneedwan1:</strong>
  <%= @aradah.qnet_bneedwan1 %>
</p>

<p>
  <strong>Qnet bneedwan2:</strong>
  <%= @aradah.qnet_bneedwan2 %>
</p>

<p>
  <strong>Qnet bedah:</strong>
  <%= @aradah.qnet_bedah %>
</p>

<p>
  <strong>Qnet mashoqah:</strong>
  <%= @aradah.qnet_mashoqah %>
</p>

<p>
  <strong>Mrawah:</strong>
  <%= @aradah.mrawah %>
</p>

<p>
  <strong>Qnet total:</strong>
  <%= @aradah.qnet_total %>
</p>

<p>
  <strong>Bnenet blkhzmr:</strong>
  <%= @aradah.bnenet_blkhzmr %>
</p>

<p>
  <strong>Bnenet bnehasan:</strong>
  <%= @aradah.bnenet_bnehasan %>
</p>

<p>
  <strong>Bnenet total:</strong>
  <%= @aradah.bnenet_total %>
</p>

<p>
  <strong>Mnet alhalah:</strong>
  <%= @aradah.mnet_alhalah %>
</p>

<p>
  <strong>Mnet alkhlb:</strong>
  <%= @aradah.mnet_alkhlb %>
</p>

<p>
  <strong>Mnet dos:</strong>
  <%= @aradah.mnet_dos %>
</p>

<p>
  <strong>Mnet alkahla1:</strong>
  <%= @aradah.mnet_alkahla1 %>
</p>

<p>
  <strong>Mnet alkahla2:</strong>
  <%= @aradah.mnet_alkahla2 %>
</p>

<p>
  <strong>Mnet sehan:</strong>
  <%= @aradah.mnet_sehan %>
</p>

<p>
  <strong>Mnet blhkm:</strong>
  <%= @aradah.mnet_blhkm %>
</p>

<p>
  <strong>Mnet aljawfaa:</strong>
  <%= @aradah.mnet_aljawfaa %>
</p>

<p>
  <strong>Mnet total:</strong>
  <%= @aradah.mnet_total %>
</p>

<p>
  <strong>Bnet almosa:</strong>
  <%= @aradah.bnet_almosa %>
</p>

<p>
  <strong>Bnet qrnthbe:</strong>
  <%= @aradah.bnet_qrnthbe %>
</p>

<p>
  <strong>Bnet total:</strong>
  <%= @aradah.bnet_total %>
</p>

<p>
  <strong>Network total:</strong>
  <%= @aradah.network_total %>
</p>

<p>
  <strong>Almnahel:</strong>
  <%= @aradah.almnahel %>
</p>

<p>
  <strong>Qshep nkhal:</strong>
  <%= @aradah.qshep_nkhal %>
</p>

<p>
  <strong>Qshep alqsmh:</strong>
  <%= @aradah.qshep_alqsmh %>
</p>

<p>
  <strong>Qshep althrawen:</strong>
  <%= @aradah.qshep_althrawen %>
</p>

<p>
  <strong>Qshep bneodwan:</strong>
  <%= @aradah.qshep_bneodwan %>
</p>

<p>
  <strong>Qshep mashoqah:</strong>
  <%= @aradah.qshep_mashoqah %>
</p>

<p>
  <strong>Qshep total:</strong>
  <%= @aradah.qshep_total %>
</p>

<p>
  <strong>Bneshep blkhzmr:</strong>
  <%= @aradah.bneshep_blkhzmr %>
</p>

<p>
  <strong>Bneshep bnehasan:</strong>
  <%= @aradah.bneshep_bnehasan %>
</p>

<p>
  <strong>Bneshep total:</strong>
  <%= @aradah.bneshep_total %>
</p>

<p>
  <strong>Mshep alhalah:</strong>
  <%= @aradah.mshep_alhalah %>
</p>

<p>
  <strong>Mshep dos:</strong>
  <%= @aradah.mshep_dos %>
</p>

<p>
  <strong>Mshep total:</strong>
  <%= @aradah.mshep_total %>
</p>

<p>
  <strong>Bshep almosa:</strong>
  <%= @aradah.bshep_almosa %>
</p>

<p>
  <strong>Mnahel total:</strong>
  <%= @aradah.mnahel_total %>
</p>

<p>
  <strong>Distripution total:</strong>
  <%= @aradah.distripution_total %>
</p>

<%= link_to 'Edit', edit_aradah_path(@aradah) %> |
<%= link_to 'Back', aradahs_path %>
<%else%>
<h1><%= "Please contact the admin"%>
<%end%>