<% if current_user.admin? %> 
<p id="notice"><%= notice %></p>

<h1>Smallprojects</h1>

  <table class="table is-striped is-bordered", style="display: block;overflow-x: auto;">
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th class="bg-light">Smallproject</th>
      <th>Total wo thrad btat</th>
      <th>Product thrad</th>
      <th>Product btat</th>
      <th>Product total</th>
      <th class="bg-light">Detailed production</th>
      <th>Albaha</th>
      <th>Bljorashy</th>
      <th>Alqora</th>
      <th>Almandaq</th>
      <th>Alaqeq</th>
      <th>Almekhwah</th>
      <th>Qolwah</th>
      <th>Alhgrah</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @smallprojects.each do |smallproject| %>
      <tr>
        <td><%= smallproject.user_id %></td>
        <td style="white-space: nowrap;"><%= smallproject.date %></td>
        <td class="bg-light"><%= smallproject.smallproject %></td>
        <td><%= smallproject.total_wo_thrad_btat %></td>
        <td><%= smallproject.product_thrad %></td>
        <td><%= smallproject.product_btat %></td>
        <td><%= smallproject.product_total %></td>
        <td class="bg-light"><%= smallproject.detailed_production %></td>
        <td><%= smallproject.albaha %></td>
        <td><%= smallproject.bljorashy %></td>
        <td><%= smallproject.alqora %></td>
        <td><%= smallproject.almandaq %></td>
        <td><%= smallproject.alaqeq %></td>
        <td><%= smallproject.almekhwah %></td>
        <td><%= smallproject.qolwah %></td>
        <td><%= smallproject.alhgrah %></td>
        <td><%= link_to 'Show', smallproject %></td>
        <td><%= link_to 'Edit', edit_smallproject_path(smallproject) %></td>
        <td><%= link_to 'Destroy', smallproject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Smallproject', new_smallproject_path %>
<%else%>
<h1><%= "Contant to admin"%>
<%end%>