<% if current_user.admin? %> 
<p id="notice"><%= notice %></p>

<h1>بيانات المشاريع المصغرة</h1>

  <table class="table is-striped is-bordered", style="display: block;overflow-x: auto;">
  <thead>
    <tr>
      <th>Submitted at </th>
      <th>User</th>
      <th>Date</th>
      <th class="bg-light">المشاريع المصغرة</th>
      <th class="bg-light">إجمالي الإنتاج بدون ثراد وبطاط</th>
      <th>إنتاج ثراد</th>
      <th>إنتاج بطاط</th>
      <th class="bg-light">إجمالي الإنتاج</th>
      <th class="bg-light">الإنتاج التفصيلي بحسب المحافظات</th>
      <th>الباحة</th>
      <th>بلجرشي</th>
      <th>القرى</th>
      <th>المندق</th>
      <th>العقيق</th>
      <th>المخواة</th>
      <th>قلوة</th>
      <th>الحجرة</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @smallprojects.each do |smallproject| %>
      <tr>
        <td><%= smallproject.created_at %></td>
        <td><%= smallproject.user_id %></td>
        <td style="white-space: nowrap;"><%= smallproject.date %></td>
        <td class="bg-light"><%= smallproject.smallproject %></td>
        <td><%= smallproject.total_wo_thrad_btat %></td>
        <td><%= smallproject.product_thrad %></td>
        <td><%= smallproject.product_btat %></td>
        <td><%= smallproject.product_total %></td>
        <td class="bg-light"><%= smallproject.detailed_production %></td>
        <td><%= smallproject.albaha %></td>
        <td><%= smallproject.bljorashy %></td>
        <td><%= smallproject.alqora %></td>
        <td><%= smallproject.almandaq %></td>
        <td><%= smallproject.alaqeq %></td>
        <td><%= smallproject.almekhwah %></td>
        <td><%= smallproject.qolwah %></td>
        <td><%= smallproject.alhgrah %></td>
        <td><%= link_to 'Show', smallproject %></td>
        <td><%= link_to 'Edit', edit_smallproject_path(smallproject) %></td>
        <td><%= link_to 'Delete', smallproject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'إدخال بيانات جديدة', new_smallproject_path %>
<%else%>
<h1><%= "Please contact the admin"%>
<%end%>